body {
  background: linear-gradient(to right, #ffc2c1 0%, #7cd3f0 100%) !important;
}
main {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  background: #0d1117;
  overflow-x: hidden;
}

.hero_section {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_section > h1 {
  color: white;
  font-family: "Dancing Script";
  font-size: 100px;
}
.contactusinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactusinfo > div {
  width: 33.33vw;
  height: 50vh;
}
.maps {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.meetus {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #89ceff;
  font-family: Spinnaker;
  color: white;
  font-size: 18px;
}
.meetus > h2 {
  font-size: 40px;
  font-weight: 400;
  margin-left: 40px;
}
li {
  margin: 10px;
}
.pitchus {
  background-image: url(../Assets/telephone.jpeg);
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 60px;
    text-align: center;
  }
  .contactusinfo {
    flex-direction: column;
  }
  .contactusinfo > div {
    width: 100vw;
  }
}
