@font-face {
  font-family: "Valencia";
  src: url("../Assets/Valencia\ 400.woff2") format("woff2");
}
@font-face {
  font-family: "Blanka";
  src: url("../Assets/Blanka-Regular.woff2") format("woff2");
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background: black;
}
.wrap {
  height: 85px;
  width: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  background: black;
  opacity: 0.5;
}

.logo {
  margin: -10px 0 0 0;
  padding: 0;
  z-index: 99;
  position: fixed;
  top: 0;
  height: 15vh;
  width: auto;
}

#hamburger {
  margin: 0;
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  top: 4vh;
  left: 94vw;
  z-index: 999;
  height: 32px;
  width: 40px;
}
#hamburger:hover span {
  animation: Hover 2.5s linear 0s infinite normal;
}
.hover span {
  animation: Hover 5s linear 0s infinite normal;
}
.first {
  margin: 0;
  padding: 0;
  background-color: #e9b171;
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.second {
  margin: 0;
  padding: 0;
  background-color: #e9b171;
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
}
.third {
  margin: 0;
  padding: 0;
  background-color: #e9b171;
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}
.clicked {
  transform: rotate(90deg);
  transition: all ease-in 500ms;
}
.clicked-rev {
  transform: rotate(0);
  transition: all ease 500ms;
}

.anime {
  transform: rotate(-62deg) translate(2px, 10px);
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s 0.5s !important;
}

.anime-rev {
  transform: rotate(0deg) translate(0);
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s 0.5s !important;
}
.anime0 {
  transform: rotate(60deg) translate(-15px, 3px);
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s 0.5s !important;
}

nav {
  display: none;
  margin: 0;

  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  background: black;
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 100vw;
  z-index: 15;
}
.socialcointaner {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
nav ul {
  margin: 150px 0 0 100px;
}
nav ul li {
  list-style: none;
  margin: 5px 150px 0 0;
  font-family: "Inconsolata", monospace;
  opacity: 0;
  transform-origin: left bottom;
  cursor: pointer;
}
nav ul li:hover {
  background: #6666ff;
  transition: all linear 250ms;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 50px;
  display: block;
}
.slides {
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh; /* Here It is*/
  margin: 0;
  padding: 0;
  left: 100vw;
  overflow: hidden;
  display: none;
}
.slide_1 {
  background: #c22085;
  z-index: 10;
}

.slide_2 {
  background: #e9b171;
  z-index: 13;
}
.slide_3 {
  background: #2d9687;
  z-index: 14;
}

.main {
  z-index: 1;
  position: absolute;
  top: 0;
  height: fit-content;
  width: 100vw;
  background: black;
  color: whitesmoke;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}
#Wheels {
  position: absolute;
  top: 35vh;
  right: 15%;
}
#person {
  position: absolute;
  height: 91vh;
  opacity: 0.4;
  top: 83vh;
  left: -32vw;
}
.typewriter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.highlight {
  font-family: "Blanka";
  margin: calc(50vh - 1.5em) 50px 50px 50px;
  color: #e9b171;
  font-size: 60px;
  z-index: 5;
}
.typewriter p {
  display: inline;
  font-family: "Valencia";
  font-size: 60px;
  color: #7f5180;
  margin: 80px 0 0 45px;
}
.typewriter ul {
  list-style: none;

  font-size: 15px;
}
.typewriter ul li {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
#rocket {
  position: absolute;
  transform: rotate(45deg);
  top: 0;
  animation: plane 5s ease-in-out 1s infinite normal;
}
.eve {
  height: 300px;
  width: 100%;
  background: linear-gradient(to top, #000000 0%, #c22085 38%, #000000 76%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.eve p {
  font-family: "Blanka";
  font-size: 120px;
  font-weight: 300;
}

.autoshow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.autoshow p {
  display: inline;
  font-family: "Valencia";
  font-size: 80px;
  text-shadow: 5px 5px #c22085;
}
/* Slider's CSS */
.sliderauto {
  margin: 37px 0;
  width: 100vw;
  height: 600px;
  overflow: hidden;
  position: relative;
  z-index: 11;
}

.sliderauto > div {
  margin: 0;
  padding: 0;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 91vw;
  background-color: #2d9687;
  border-radius: 10px;
  width: 80%;
  z-index: 8;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightslide {
  transform-origin: 91vw;
  transform: translateX(-81vw);
  height: 100% !important;
  top: 0 !important;
  transition: all ease-out 0.35s;
}
.goaway {
  height: 80% !important;
  top: 10% !important;
  left: 81vw;
  opacity: 0.4;
  transition: all ease-out 0.35s;
}
.leftslide {
  height: 80% !important;
  top: 10% !important;
  transform: translateX(-162vw);
  opacity: 0.4;
  transition: all ease-out 0.35s;
}
.comeback {
  height: 100% !important;
  top: 0 !important;
  left: 10vw !important;
  transition: all ease-out 0.35s;
}
.previous {
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  width: 10vw;
  height: 600px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.next {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  top: 0;
  width: 10vw;
  height: 600px;
  cursor: pointer;
  z-index: 100;
  left: 90vw;
}

.next:hover > .img {
  width: 30px;
  transition: width ease 250ms;
}
.previous:hover > .img {
  width: 30px;
  transition: width ease 250ms;
}
.img {
  width: 20px;
  height: auto;
}
.rev {
  rotate: 180deg;
}
.wrapTeam {
  margin: 0 0 0 0;
  padding: 60px 0 0 0;
}
.Team {
  height: fit-content;
  width: 100vw;
  background: linear-gradient(to top, #000000 0%, #6666ff 95%, #000000 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Team > h1 {
  font-family: "Blanka";
  font-size: 100px;
  color: white;
  margin: 0;
}
.Team > p {
  font-family: "Blanka";
  color: #000000;
}
.teamcontainer {
  width: 100%;
  height: fit-content;
  margin-top: 60px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}
.card {
  width: 330px;
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.card > h2 {
  font-family: "Open Sans";
  font-size: large;
  color: #eaf6ff;
  margin: 0;
  padding: 0;
}
.card > h3 {
  font-family: Impact;
  font-weight: 100;
  font-size: 25px;
  text-shadow: 5px 5px 10px #00000051;
  margin: 0;
  padding: 0;
  color: #e9b171;
}
.card > img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  outline: 2px solid #c22085;
  overflow: hidden;
  box-shadow: 0 13px 5px 0 rgba(0, 0, 0, 0.2), 0 30px 20px 0 rgba(0, 0, 0, 0.19);
}
article > span {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 40vw 40vw;
  width: 100%;
  height: 400px;
  gap: 10vw;
  font-family: "Open Sans";
  color: #e9b171;
}
article > span > img {
  height: 300px;
  width: 40vw;
  border: 1px dashed white;
  border-radius: 5px;
}
.faqs {
  height: fit-content;
  width: 100vw;
  background: linear-gradient(
    to top,
    #000000 0%,
    #6666ff44 10%,
    #8888ff 80%,
    #000000 100%
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 0 0;
}
.faqs > p {
  font-family: "Blanka";
  font-size: 100px;
  color: white;
  margin: 0;
}
.faqs > span {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
}
.faqs > span > h3 {
  font-size: xx-large;
  margin: 0;
  color: #65ffe5;
  font-family: "Open Sans";
}
#bg {
  position: fixed;
  opacity: 0.8;
  left: 0;
}
footer {
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("/Assets/footer_bg.jpg");
}
footer > h2 {
  font-family: "Blanka";
  font-size: 50px;
  text-shadow: 4px 4px #ff0000a6;
}
footer > span {
  margin: 50px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
span > a:hover {
  opacity: 0.5;
}
span:active {
  opacity: 1;
}

.email > p {
  margin: 0 0 3px 0;
  font-size: 20px;
  font-family: Impact;
}
#getEmail {
  height: 35px;
  width: 40vw;
  background-color: #2d2828;
  opacity: 0.6;
  text-indent: 10px;
  border: none;
  color: white;
  font-family: "Open Sans";
  font-size: 15px;
  border-radius: 5px;
}
#getEmail:focus {
  outline: 2px solid white;
}
#subs {
  background-color: #e9b171;
  height: 35px;
  font-size: 15px;
  border-radius: 4px;
  color: black;
  border: none;
  cursor: pointer;
  font-family: Impact;
}
#subs:hover {
  background: #7f5180;
}
#subs:active {
  background: #6666ff;
}
@keyframes plane {
  0% {
    opacity: 0;
    left: 0;
  }

  40% {
    opacity: 1;
    left: calc(50vw - 300px);
  }

  80% {
    left: calc(100vw - 300px);
  }
  100% {
    left: 100vw;
  }
}
@keyframes animatemain {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

@keyframes animateslides {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}
@keyframes animatenavrev {
  from {
    left: 0;
  }
  to {
    left: 100vw;
  }
}
@keyframes animateslidesrev {
  from {
    left: 0;
  }
  to {
    left: 100vw;
  }
}
@keyframes navitems {
  0% {
    opacity: 0;
    transform: rotate(-360deg);
    letter-spacing: -120px;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    letter-spacing: auto;
    transform: rotate(0deg);
  }
}
@keyframes Hover {
  0% {
    background-color: #eaf6ff;
  }
  25% {
    background-color: #65ffe5;
  }
  50% {
    background-color: #e7fc88;
  }
  75% {
    background-color: rgb(250, 176, 86);
  }
  100% {
    background-color: rgb(90, 177, 254);
  }
}
::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c22085;
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
    /* I am done. */
  }
}
